.vs/MyNbaWebApp/v16/.suo
bin/Debug/netcoreapp2.2/MyNbaWebApp.dll
bin/Debug/netcoreapp2.2/MyNbaWebApp.dll
.vs/MyNbaWebApp/DesignTimeBuild/.dtbcache.v2
.vs/MyNbaWebApp/v16/.suo
.vs/MyNbaWebApp/v16/.suo
